@page
@model kampong_goods.Pages.Education.Edit_CatModel
@{
    ViewData["Title"] = "Edit FAQ Category";
    Layout = "~/Pages/Shared/_StaffLayout.cshtml";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<form class="mt-3" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="myFAQCat.FAQCatId"></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" asp-for="myFAQCat.FAQCatId" oninput="this.value" />
            <span asp-validation-for="myFAQCat.FAQCatId" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="myFAQCat.FAQCategoryName"></label>
        <div class="col-sm-8">
            <input class="form-control" asp-for="myFAQCat.FAQCategoryName"
                   oninput="this.value" />
            <span asp-validation-for="myFAQCat.FAQCategoryName" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="myFAQCat.FAQCatDescription"></label>
        <div class="col-sm-8">
            <input class="form-control" asp-for="myFAQCat.FAQCatDescription"
                   oninput="this.value" />
            <span asp-validation-for="myFAQCat.FAQCatDescription" class="text-danger"></span>
        </div>
    </div>

    <input class="form-control" type="hidden" asp-for="myFAQCat.Id" value="@Model.myFAQCat.Id" oninput="this.value" />

    <div class="row mb-3">
        <a class="btn btn-secondary col-sm-2" href="/Education/FAQCat_List" style="margin-left:30%;">Cancel</a>
        <input type="submit" value="Save" class="btn btn-primary  col-sm-2" style="margin-right:30%; margin-left:5%;" />
    </div>
</form>


