@page
@model kampong_goods.Pages.Vouchers.DetailsModel
@{
    ViewData["Title"] = "Voucher Details";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<form class="mt-3" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input class="form-control" asp-for="MyVoucher.VoucherId" hidden />

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="MyVoucher.VoucherName"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="MyVoucher.VoucherName" />
            <span asp-validation-for="MyVoucher.VoucherName" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="MyVoucher.VoucherDiscAmt"></label>
        <div class="col-sm-10">
            <input class="form-control" type="number" asp-for="MyVoucher.VoucherDiscAmt" />
            <span asp-validation-for="MyVoucher.VoucherDiscAmt" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="MyVoucher.VoucherMinSpend"></label>
        <div class="col-sm-10">
            <input class="form-control" type="number" asp-for="MyVoucher.VoucherMinSpend" />
            <span asp-validation-for="MyVoucher.VoucherMinSpend" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="MyVoucher.VoucherCode"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="MyVoucher.VoucherCode" />
            <span asp-validation-for="MyVoucher.VoucherCode" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="MyVoucher.VoucherExpDate"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="MyVoucher.VoucherExpDate" />
            <span asp-validation-for="MyVoucher.VoucherExpDate" class="text-danger"></span>
        </div>
    </div>

    <div>
        <input type="submit" value="Update" class="btn btn-primary" />
        <a class="btn btn-secondary ms-2" href="/Vouchers">Cancel</a>

    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
