@page
@using Microsoft.AspNetCore.Identity;
@using kampong_goods.Models;

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model kampong_goods.Pages.Products.AddproductModel
@{
	Layout = "~/Pages/Shared/_ProfileNav.cshtml";
	ViewData["Title"] = "Profile";
}

<div class="card-body">
	<h3 class="mb-0" style="color: #3563E9">Add Product</h3>

	<form class="mt-3" method="post" enctype="multipart/form-data">
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="row">
			@*image*@
			<div class="col-md-4">
				<div class="mb-3">
					<input type="file" accept="image/*" asp-for="Upload" class="form-control" onchange="showImgPreview(this)" />
					<span asp-validation-for="Upload" class="text-danger"></span>
				</div>
				<img id="imgPreview" class="rounded-circle" style="height:300px;width:300px;object-fit:cover; border: solid 2px;" src="/uploads/image.png" />
			</div>

			<div class="col-md-8">

				@*product name*@
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" asp-for="MyProduct.ProductName"></label>
					<div class="col-sm-10">
						<input class="form-control" asp-for="MyProduct.ProductName" />
						<span asp-validation-for="MyProduct.ProductName" class="text-danger"></span>
					</div>
				</div>

				@*product category*@
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" asp-for="MyProduct.CategoryId"></label>
					<div class="col-sm-10">
						@Html.DropDownListFor(m => m.MyProduct.CategoryId, new SelectList(AddproductModel.CategoryList, "CategoryId", "CategoryName"), "-- Select --", new {@class = "form-select"})
						<span asp-validation-for="MyProduct.CategoryId" class="text-danger"></span>
					</div>
				</div>

				@*product condition*@
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" asp-for="MyProduct.ConditionId"></label>
					<div class="col-sm-10">
						@Html.DropDownListFor(m => m.MyProduct.ConditionId, new SelectList(AddproductModel.ConditionList, "ConditionId", "ConditionName"), "-- Select --", new {@class = "form-select"})
						<span asp-validation-for="MyProduct.ConditionId" class="text-danger"></span>
					</div>
				</div>

				@*product description*@
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" asp-for="MyProduct.Description"></label>
					<div class="col-sm-10">
						<textarea class="form-control" asp-for="MyProduct.Description"></textarea>
						<span asp-validation-for="MyProduct.Description" class="text-danger"></span>
					</div>
				</div>

				@*product price*@
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" asp-for="MyProduct.Price"></label>
					<div class="col-sm-10">
						<input class="form-control" type="number" min="0" max="10" asp-for="MyProduct.Price" />
						<span asp-validation-for="MyProduct.Price" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>

		<br />

		<div>
			<input type="submit" value="Add" class="btn btn-primary" />
			<a class="btn btn-secondary ms-2" href="/Products/productListing">Cancel</a>
		</div>
	</form>

</div> <!-- card-body.// -->

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}

<script>
	function showImgPreview(input) {
		if (input.files[0]) {
			var uploadimg = new FileReader();
			uploadimg.onload = function (displayimg) {
				$("#imgPreview").attr('src', displayimg.target.result);
			}
			uploadimg.readAsDataURL(input.files[0]);
		}
	}
</script>


