@page
@model kampong_goods.Pages.Customers.ChangePasswordModel
@{
    Layout = "~/Pages/Shared/_ProfileNav.cshtml";
    ViewData["Title"] = "Change Password";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .rebtn {
            background-color: #3563E9;
            ;
            color: white;
            float: right;
        }
    </style>

</head>
<body>
    <a class="btn loginBtn" style="color:white;float: right;font-size:h4;" asp-page="/Customers/Profile">Back</a>

    <div class="container" style="height:500px;">

            <div class="card card-body">

                <h1 class="mb-3">@ViewData["Title"]</h1>                                     

                <form class="mt-3" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="ChModel.Id" value="@Request.Query["UserId"]" />

                    <input type="hidden" asp-for="ChModel.Code" value="@Request.Query["Code"]" />

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" asp-for="ChModel.Password"></label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="ChModel.Password" />
                            <span asp-validation-for="ChModel.Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" asp-for="ChModel.ConfirmPassword"></label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="ChModel.ConfirmPassword" />
                            <span asp-validation-for="ChModel.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>


                    <div>
                        <button type="submit" class="btn rebtn form-control">Submit</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>