@page
@model kampong_goods.Pages.Customers.EditProfileModel

@{
    Layout = "~/Pages/Shared/_ProfileNav.cshtml";
    ViewData["Title"] = "Edit Profile";

}

<h1 class="display-4">@ViewData["Title"]</h1>

<form class="mt-3" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input class="form-control" asp-for="CustProfile.Id" type="hidden" />

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="CustProfile.UserName">Username</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="CustProfile.UserName" required />
            <span asp-validation-for="CustProfile.UserName" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="CustProfile.FName"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="CustProfile.FName" required/>
            <span asp-validation-for="CustProfile.FName" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="CustProfile.LName"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="CustProfile.LName" required/>
            <span asp-validation-for="CustProfile.LName" class="text-danger"></span>
        </div>
    </div>

@*    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="RModel.Password"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="RModel.Password" />
            <span asp-validation-for="RModel.Password" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="RModel.ConfirmPassword"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="RModel.ConfirmPassword" />
            <span asp-validation-for="RModel.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>*@
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="CustProfile.PhoneNumber">Phone Number</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="CustProfile.PhoneNumber" required />
            <span asp-validation-for="CustProfile.PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="CustProfile.Email"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="CustProfile.Email" required/>
            <span asp-validation-for="CustProfile.Email" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="CustProfile.Address"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="CustProfile.Address" oninput="this.value = this.value.toUpperCase()" required />
            <span asp-validation-for="CustProfile.Address" class="text-danger"></span>
        </div>
    </div>

    <div>
        <input type="submit" value="Edit" class="btn" color: white; background: #3563E9; />
        <a class="btn btn-secondary ms-2" href="/Customers/Profile">Cancel</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }