@page
@model kampong_goods.Pages.Customers.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Your Password?";
}

<h1 class="mb-3">@ViewData["Title"]</h1>
<form class="mt-3" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="FModel.Email"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="FModel.Email" oninput="this.value = this.value.toLowerCase()" />
            <span asp-validation-for="FModel.Email" class="text-danger"></span>
        </div>
    </div>


    <div>
        <button type="submit" class="btn btn-success form-control">Submit</button>
        
    </div>
</form>