@page
@model kampong_goods.Pages.Customers.LogoutModel
@{
	ViewData["Title"] = "Logout";

}

<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		.rebtn {
			background-color: #3563E9;
			;
			color: white;
			float: right;
		}
	</style>

</head>
<body>

	<div class="container" style="height:500px;">
		<div class="col-md-6 mx-auto">
			<div class="card card-body">
				<h1 class="mb-3">@ViewData["Title"]</h1>
<form method="post">
	
				<p> Are you sure you want to logout? </p>
				<p>
					<button class="btn" style="color: white; background: #3563E9;" asp-page-handler="Logout">Yes</button>
					<button class="btn btn-light ml-5 border-dark" asp-page-handler="DontLogout">No</button>
				</p>

</form>

			</div>
		</div>
	</div>
</body>
</html>
