@page
@model kampong_goods.Pages.Customers.RegisterModel
@{
    ViewData["Title"] = "Register";


}

<!DOCTYPE html>
<html lang="en">
<head>


    <style>

        .rbtn {
            background-color: #3563E9;
            ;
            color:white;
            float:right;
        }
        .accountbtn {
            background-color: #8BAD97;
            /* Green */
            border: none;
            color: black;
            padding: 10px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 60px;
        }

        .centered {
            text-align: center;
        }

        .accountform {
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
        }

        .left {
            float: left;
        }

        .clear {
            clear: both;
        }

        .spacing1 {
            margin-left: 9%
        }

        .spacing2 {
            margin-left: 15%
        }

        .spacing1o {
            margin-left: 27%
        }

        .spacing2o {
            margin-left: 15%
        }

        .cenform {
            margin-left: 40%;
            margin-right: 40%;
        }
    </style>

</head>
<body>

<div class="container">
<div class="col-md-6 mx-auto">
 <div class="card card-body">
                <h1 class="mb-3">@ViewData["Title"]</h1>

<form class="mt-3" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="RModel.Username"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="RModel.Username" />
            <span asp-validation-for="RModel.Username" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="RModel.FName"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="RModel.FName" onblur="initialiseFirstname()" />
            <span asp-validation-for="RModel.FName" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="RModel.LName"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="RModel.LName" onblur="initialiseLastname()" />
            <span asp-validation-for="RModel.LName" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="RModel.Password"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="RModel.Password" />
            <span asp-validation-for="RModel.Password" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="RModel.ConfirmPassword"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="RModel.ConfirmPassword" />
            <span asp-validation-for="RModel.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="RModel.PhoneNo"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="RModel.PhoneNo" />
            <span asp-validation-for="RModel.PhoneNo" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="RModel.Email"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="RModel.Email" oninput="this.value = this.value.toLowerCase()" />
            <span asp-validation-for="RModel.Email" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="RModel.Address"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="RModel.Address" oninput="this.value = this.value.toUpperCase()" />
            <span asp-validation-for="RModel.Address" class="text-danger"></span>
        </div>
    </div>
    <div>
        <input type="submit" value="Register" class="btn rbtn" />
    </div>
</form>
</div>
</div>
</div>
</body>
</html>
