@page
@model kampong_goods.Pages.Customers.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password?";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .rebtn {
            background-color: #3563E9;
            ;
            color: white;
            float: right;
        }
    </style>

</head>
<body>

    <div class="container" style="height:500px;">
        <div class="col-md-6 mx-auto">
            <div class="card card-body">
<h1 class="mb-3">@ViewData["Title"]</h1>
<form class="mt-3" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ReModel.Code" value="@Request.Query["Code"]" />

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="ReModel.Email"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="ReModel.Email" oninput="this.value = this.value.toLowerCase()" />
            <span asp-validation-for="ReModel.Email" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="ReModel.Password"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="ReModel.Password" />
            <span asp-validation-for="ReModel.Password" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-2 col-form-label" asp-for="ReModel.ConfirmPassword"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="ReModel.ConfirmPassword" />
            <span asp-validation-for="ReModel.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>


    <div>
        <button type="submit" class="btn rebtn form-control">Submit</button>

    </div>
</form>
            </div>
        </div>
    </div>
</body>
</html>
