@using kampong_goods.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - kampong_goods</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/kampong_goods.styles.css" asp-append-version="true" />

    <!-- jQuery -->
    <script src="~/js/jquery-2.0.0.min.js" type="text/javascript"></script>

    <!-- Bootstrap4 files-->
    <script src="~/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="~/css/bootstrap.css?v=2.0" rel="stylesheet" type="text/css" />

    <!-- Font awesome 5 -->
    <link href="~/fonts/fontawesome/css/all.min.css?v=2.0" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f93b590445.js" crossorigin="anonymous"></script>

    <!-- custom style -->
    <link href="~/css/ui.css?v=2.0" rel="stylesheet" type="text/css" />
    <link href="~/css/responsive.css?v=2.0" rel="stylesheet" type="text/css" />

    <!-- custom javascript -->
    <script src="~/js/script.js?v=2.0" type="text/javascript"></script>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Libre+Baskerville&family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap" rel="stylesheet">

    <style>
        body {
            background-color: white;
            font-family: 'Inter';
        }

        .loginBtn {
            color: white;
            background: #3563E9;
        }

        .registerBtn {
            color: white;
            background: #3563E9;
            margin-left: 25px;
            width: 80px;
        }
    </style>
    
</head>
<body>

    <!-- ========================= NAV ========================= -->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="/images/kampongGoods.jpg" alt="logo" width="200" height="80"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarButtonsExample">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Products/productCatalogue">Catalogue</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Request">Request</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Education/Index">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Community">Community</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Events">Events</a>
                        </li>
                    </ul>
@*                    <div class="d-flex align-items-center">
*@                        @{
                            if (SignInManager.IsSignedIn(User))
                            {
                                        <ul class="navbar-nav d-flex justify-content-end">

                                        <li class="nav-item">
                                            <a class="nav-link"  asp-page="/Customers/Profile">Hi, <span style="font-weight: bold">@UserManager.GetUserName(User)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-page="/Chat/Index"><i class="fa-solid fa-comments"></i></a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="btn registerBtn" asp-area="" asp-page="/Products/productAdd" style="color: white;">Sell</a>
                                            </li>
                                        </ul>
                            }


                            else
                            {
                                        <ul class="navbar-nav d-flex justify-content-end flex-grow-1">
                                            <li class="nav-item">
                                            <a class="btn loginBtn" style="color:white;" asp-page="/Customers/Login">Login</a>
                                            </li>
                                            <li class="nav-item">
                                            <a class="btn  registerBtn" style="color:white;" asp-page="/Customers/Register">Register</a>
                                            </li>
                                        </ul>
                            }
                        }
                    

@*                    <div class="d-flex align-items-center">
                        <button type="button" class="btn loginBtn" style="justify-content-end">Login</button>
                    </div>
*@                </div> 
            </div>
        </nav>
    </header>

    <!-- ========================= BODY ========================= -->
    <div class="container">
        @await Html.PartialAsync("_FlashMessage")
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- ========================= FOOTER ========================= -->
    <footer class="section-footer border-top">
        <div class="container">
            <section class="footer-top padding-y">
                <div class="row">
                    <aside class="col-md-4">
                        <article class="mr-3">
                            <img src="/images/kampongGoods.jpg" alt="logo" width="250" height="100">
                            <p class="mt-3">We simplify sustainable living.</p>
                            <div>
                                <a class="btn btn-icon btn-light" title="Facebook" target="_blank" href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="btn btn-icon btn-light" title="Instagram" target="_blank" href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a class="btn btn-icon btn-light" title="Youtube" target="_blank" href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                                <a class="btn btn-icon btn-light" title="Twitter" target="_blank" href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </div>
                        </article>
                    </aside>
                    <aside class="col-sm-3 col-md-2">
                        <h6 class="title">About Us</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#">Natthida</a></li>
                            <li> <a href="#">Andrea</a></li>
                            <li> <a href="#">Mei Ling</a></li>
                            <li> <a href="#">Zhi Yi</a></li>
                        </ul>
                    </aside>
                    <aside class="col-sm-3  col-md-2">
                        <h6 class="title">For users</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#"> User Login </a></li>
                            <li> <a href="#"> User register </a></li>
                            <li> <a href="#"> Account Setting </a></li>
                            <li> <a href="#"> My Orders </a></li>
                            <li> <a href="#"> My Wishlist </a></li>
                        </ul>
                    </aside>
                </div> <!-- row.// -->
            </section> <!-- footer-top.// -->

            <section class="footer-copyright border-top">
                <p class="float-left text-muted"> &copy 2022 EDP - Kampong Goods </p>
                <p target="_blank" class="float-right text-muted">
                    <a href="#">Privacy & Cookies</a> &nbsp &nbsp
                    <a href="#">Accessibility</a>
                </p>
            </section>
        </div><!-- //container -->
    </footer>
    <!-- ========================= FOOTER END // ========================= -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

