@*@page
@model kampong_goods.Pages.Staff.EditStaffListModel
@{
    ViewData["Title"] = "Edit Staff";
    Layout = "~/Pages/Shared/_StaffLayout.cshtml";


}

<h1 class="display-4">@ViewData["Title"]</h1>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }*@