@page
@model kampong_goods.Pages.Forum.IndexModel
@{
}

<div class="large-12 forum-topic">
    <div class="large-1 column lpad">
        <i class="icon-file"></i>
    </div>
    <div class="large-7 small-8 column lpad">
        <span class="overflow-control">
            <a href="#">Title of the title</a>
        </span>
        <span class="overflow-control">
            Description of the title of the topic(?)
        </span>
    </div>
    <div class="large-1 column lpad">
        <span class="center">96587</span>
    </div>
    <div class="large-1 column lpad">
        <span class="center">678</span>
    </div>
    <div class="large-2 small-4 column pad">
        <span>
            <a href="#">Some sub-topic</a>
        </span>
        <span>08-29-2013 7:29PM</span>
        <span>by <a href="#">Some user</a></span>
    </div>
</div>
