@page
@model Chat.ChatIndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="section-content padding-y">
    <div class="container card h-100 d-flex align-items-center justify-content-center">
        <h1 style="padding-top: 20px">Welcome To Chat!</h1>
        <p>You may click on any of the user to start chatting!</p>
        <div class="list-group" style="width: 400px;">
            @foreach (var user in Model.CustomerList)
            {
                @if(user.Id != Model.Sender.Id)
                {
                    <a asp-page="/Chat/InChat" asp-route-id="@user.Id" class="list-group-item list-group-item-action inl">
                        <img src="/images/seventeen-wonwoo-1.jpg" style="width:50px; height:50px; float:left; padding-right: 10px;" alt="avatar">
                        <div class="name" style="padding-top: 10px; font-weight: bold;">@user.UserName.ToUpper()</div>
                    </a>
                    <a asp-page="/Chat/InChat" asp-route-id="@user.Id" class="btn btn-danger">Chat Now</a>
                    <a asp-page="/Chat/InChatSustainable" asp-route-id="@user.Id" class="btn btn-success">Chat Sustainably</a>
                    <hr />
                }
            }
        </div>
    </div>
</section>
