@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
    <div class="row">
        <div class="col-2">Receiver</div>
        <div class="col-4">@Html.DropDownList("receiver",Model.Users, "All")</div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="message" /></div>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendMessage" value="Send Message" />
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

@Html.Hidden("sender", "nat") <!--Current logged in username-->
@section Scripts
    {
    <script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js" asp-append-version="true"></script>
}
