@page
@model kampong_goods.Pages.error._404Model
@{
    ViewData["title"] = "Page does not exists";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">404</h1>
    <p style="font-size: 50px; ">We couldn't find this page.</p>
    <p>The page you are looking either doesn't exists or you are not logged in.</p>
    <p>Please navigate back to <a href="/customers/login">Customer Login</a> or <a href="/staff/stafflogin">Staff Login</a> and try again.</p>
</div>
