@page
@model kampong_goods.Pages.error._404Model
@{
    ViewData["title"] = "Page does not exists";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">404</h1>
    <p style="font-size: 50px; ">We couldn't find this page.</p>
    <p>The page you are looking either <span style="color: #FFC90B; font-size:large; font-weight:600;">doesn't exists</span> or <span style="color: #FFC90B; font-size:large; font-weight:600;">you are not logged in.</span></p>
    <h2>Please navigate back to <a href="/customers/login" style="color:#3563E9;">Customer Login</a> or <a href="/staff/stafflogin" style="color:#3563E9;">Staff Login</a> and try again.</h2>
</div>
