@page
@model kampong_goods.Pages.AccessDeniedModel
@{
}
<div>
    <h1> Access Denied</h1>
    You do not have access to this page! Make sure you are logged in with the correct account.
    <p>Please navigate back to <a href="/customers/login">Customer Login</a> or <a href="/staff/stafflogin">Staff Login</a> and try again.</p>

</div>