@page
@model IndexModel
@{
 
}

<style>
	.btnShop {
		color: white;
		background-color: #3563E9;
	}

	.btnLearn {
		color: black;
		outline: #3563E9;
	}

	.simplifyColour {
		color: #3563E9;
		text-decoration-line:underline;
	}

</style>

<div class="container">
	<section class="text-left text-sm-start" id="home">
		<div class="container">
			<div class="d-sm-flex align-items-center justify-content-between">
				<div>
					<h1 class="landing-page">We <span class="simplifyColour">simplify</span> sustainable living.</h1>
					<p class="lead my-4 ">
						At lacus vitae nulla sagittis scelerisque nisl. Pellentesque duis cursus vestibulum, facilisi ac, sed faucibus.
					</p>
					<button type="button" class="btn btnShop">Shop Now</button>
					<button type="button" class="btn btnLearn">Learn More</button>
				</div>
				<img class="img-fluid d-none d-sm-block" src='images/landingStreet.svg' title='' alt="picture" width="1000" height="1000" />
			</div>
		</div>
	</section>
</div>