* {
  padding: 0;
  margin: 0;
}

#home {
  padding-top: 75px;
  margin: auto;
  width: 100%;
}

.logo {
  width: 130px;
  margin: auto;
}

/* Modify the background color + text colour*/
.navbar {
  background-color: #F1EDE5;
  font-family: 'Poppins';
}

/* Modify Nav bar hover effect */
.navbar a {
  display: inline-block;
  position: relative;
  color: #000000;
}

.navbar a:hover {
  color: #000000;
}

.navbar a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* landing page first item */
@media(min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

.landing-page {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
}

.text-color {
  color: #ffaa00;
}

h2 {
  /* font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400; */
  font-size: 48px;
  line-height: 60px;
}

.services {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  /* make text into center */
}

p {
  color: rgb(0, 0, 0);
  /* font-size: 14px;
  font-weight: 300; */
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5;
  display: flex;
  justify-content: space-between;
}

.ser-col {
  flex-basis: 31%;
  background: #d9d9ee;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.ser-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
  .row {
    flex-direction: column;
    /* makes it becomes a column in the smaller screen */
  }
}

/* section: campus */

.countries {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.countries-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  /* make round and postioned */
}

.countries-col img {
  width: 100%;
  display: block;
  /* fill all */
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s
    /* the red thingy upon hover */
}

.layer:hover {
  background: rgba(237, 250, 253, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  /* the words at the bottom */
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
  /* the names on the image will only show up on hover */
  /* makes the title comes from the bottom to the centre */
}

/* Section: Testimonials */

.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  text-align: center;
  /* background-image: url('/img/account-page.PNG');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; */
  /* background-position: 0% 0%; */
  /* the header of the testimonial */
}

.testimonial-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #EDFAFD;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.testimonial-col img {
  height: 100px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.testimonial-col p {
  padding: 0;
}

.testimonial-col h3 {
  margin-top: 15px;
  text-align: left;
}

.testimonial-col .fa {
  color: #023E8A;
}

@media(max-width: 700) {
  .testimonial-col img {
    margin-left: 0px;
    margin-right: 15px;
  }

  /* to make use of less space */
}

/* to capitalise text at nav */
.navbar .navbar-nav>li>a {
  text-transform: uppercase;
}

/* user: login */
#accountpg {
  background-image: url('/img/account-page.PNG');
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: 0% 0%; */
  height: 700px;

}

.accountbtn {
  background-color: #8BAD97;
  /* Green */
  border: none;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 60px;
}

.centered {
  text-align: center;
}

.accountform {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.spacing1 {
  margin-left: 9%
}

.spacing2 {
  margin-left: 15%
}

.spacing1o {
  margin-left: 27%
}

.spacing2o {
  margin-left: 15%
}

.cenform {
  margin-left: 40%;
  margin-right: 40%;
}

.accnav {

  list-style-type: none;
  margin: 0;
  padding: 40px;
  width: 300px;
  background-color:#E8DCD0;
  font-size: large;
  /* display: flex; 
  position: relative; */
  height: 500px;
  position: absolute;
}

.accnav li a {
  display: block;
  color: grey;
  padding: 8px 16px;
  text-decoration: none;
  
}

.accnav li a:hover,
.accnav li a .active {
  color: black;
}

.black {
  color: black;
}

.container-width {
  width: 300px;
  position: absolute;
  float: left;
}

.container-besidenav{
  background-color:#E8DCD0;
  padding: 35px; 
  position: relative; 
  width: 100%; 
  margin-left: 30px;
  height:fit-content;
}

#mytxt
{
    font-size:20px;
    text-align: left;
}
#mytxt a
{
    font-size:30px;
}

div .container {
  padding-bottom: 15px;
}



/* staff */
#staffpg {
  /* background-image: url('/img/stafflogin.png'); */
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  background-position: center;
}

.staffbg{
  background-color: #F1EDE5;
}

.logo2 {
  background-color: #8BAD97; 
  padding:15px; 
  border-radius: 30px;
  width: 30%;
  height: 30%;
}

.staffbtn {
  background-color: #F9CF85;
  border: none;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 60px;
}

.cen2{
  margin: auto;
}

table, th, td {
  border: 1px solid;
  table-layout:fixed;

}

th, td {
  text-align: left;
}

.noBorder {
  border:none !important;
}