@page
@model kampong_goods.Pages.Requests.AddRequestModel
@{
	ViewData["Title"] = "Request";

}

<div class="container">
	<div class="card card-body">
<h1 class="mb-3">@ViewData["Title"]</h1>


	<form class="mt-3" method="post">
		<div asp-validation-summary="All" class="text-danger"></div>

		<div class="row">

			<div class="col-md-8">
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" asp-for="ReqModel.ReqTitle"></label>
					<div class="col-sm-10">
							<input class="form-control" asp-for="ReqModel.ReqTitle" />
							<span asp-validation-for="ReqModel.ReqTitle" class="text-danger"></span>
					</div>
				</div>

				<div class="row mb-3">
						<label class="col-sm-2 col-form-label" asp-for="ReqModel.CategoryId"></label>
					<div class="col-sm-10">
							@Html.DropDownListFor(m => m.ReqModel.CategoryId, new SelectList(AddRequestModel.CategoryList, "CategoryId", "CategoryName"), "-- Select --", new {@class = "form-select"})
							<span asp-validation-for="ReqModel.CategoryId" class="text-danger"></span>
					</div>
				</div>

				<div class="row mb-3">
					<label class="col-sm-2 col-form-label" asp-for="ReqModel.Description"></label>
					<div class="col-sm-10">
							<input class="form-control" asp-for="ReqModel.Description" />
							<span asp-validation-for="ReqModel.Description" class="text-danger"></span>
					</div>
				</div>

			

				<div class="row mb-3">
						<label class="col-sm-2 col-form-label" asp-for="ReqModel.Budget"></label>
					<div class="col-sm-10">
							<input class="form-control" asp-for="ReqModel.Budget" />
							<span asp-validation-for="ReqModel.Budget" class="text-danger"></span>
					</div>
				</div>
			</div>
		</div>

		<br />

		<div>
				<input type="submit" value="Add" class="btn" style=" background-color: #3563E9;
            color: white;" />
			<a class="btn btn-secondary ms-2" href="/Requests/AllRequests">Cancel</a>
		</div>
	</form>
	</div>
	</div>